<div class="somesection">Rankings</div>
<ul id="rankings_area">
	<% @scores.each do |score| %>
		<li class="rank <%= score[0].id %>">
			<%= score[0].first_name %>:&nbsp;&nbsp;&nbsp;<%= score[1] %>
		</li>
	<% end %>
	
</ul>