<ul>
	<% @rooms.each do |r| %>
		<li> 
			<%= r.room_name %> 
			<%= form_for :sr, url: switch_room_path, remote: true do |s| %>
				<%= s.hidden_field :room_id, :value => r.id %>
				<%= s.submit "Switch room" %>
			<% end %>
		</li>
	<% end %>
</ul>