#gamebox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 50px - 250px);
	background-color: #d3e5f0;
}

/* %%%%%%%%%%%%%%% CHATBAR %%%%%%%%%%%%%%% */

#chatbar {
	position: absolute;
	left: 0;
	bottom: 250px;

	width: 100%;
	height: 49px;

	border: none;
	border-top: solid 1px #2c3e50;
	background-color: white;
}

#chatbox {
	position: absolute;
	top: 0;
	left: 0;

	width: 90%;
	height: 100%;
	border: none;
	padding-left: 15px;
	background-color: transparent;

	color: #e67e22;
	font-size: 24px;
}

#chatbox:focus {
	outline: none;
}

#chatsend {
	position: absolute;
	top: 0;
	right: 0;

	width: 10%;
	height: 100%;
	border: none;
	background-color: #f1c40f;

	color: white;
	font-family: 'DK Lemon Yellow Sun';
	font-size: 24px;
}

#chatsend:hover {
	font-size: 28px;
}

#chatsend:active {
	font-size: 24px;
}

#chatsend:focus {
	outline: none;
}

/* %%%%%%%%%%%%%%% SCORES %%%%%%%%%%%%%%% */

#footer {
	position: absolute;
	width: 100%;
	height: 250px;
	left: 0;
	bottom: 0;
	background-color: rgba(41, 128, 185, 1.0);
}

/* %%%%%%%%%%%%%%% YOURINFO %%%%%%%%%%%%%%% */

#yourinfo {
	width: 33%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

#yourinfo:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#inneryourinfo {
	width: 99%;
	height: 90%;
	display: inline-block;
	vertical-align: middle;
	border-right: 2px solid #bdc3c7;
}

.someinfo {
	margin-top: 15px;
	color: white;
	font-family: Calibri;
	font-size: 18px;
}

/* %%%%%%%%%%%%%%% RANKINGS %%%%%%%%%%%%%%% */

#rankings {
	width: 33%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 33%;

	text-align: center;
	overflow: auto;
}

#rankings:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#innerrankings {
	width: 99%;
	height: 90%;
	display: inline-block;
	vertical-align: middle;
	border-right: 2px solid #bdc3c7;
}

#innerrankings > table {
	color: white;
	font-family: Calibri;
	text-align: center;
}

#attendees {
	width: 33%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 66%;

	text-align: center;
	overflow: auto;
}

#attendees:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#innerattendees {
	width: 99%;
	height: 90%;
	display: inline-block;
	vertical-align: middle;
}

#innerattendees > ul {
	color: white;
	padding-left: 0;
	font-family: Calibri;
	margin-top: 0;
}

#innerattendees > ul > li {
	list-style: none;
	list-style-type: none;
	padding-top: 10px;
}